# Git
**/.git
**/.gitignore

# Node.js
**/node_modules
**/npm-debug.log

# PHP
**/*.php

# Cache & System Files
**/.DS_Store
**/Thumbs.db
**/.vscode
**/.idea
**/.cache
**/tmp
**/temp
**/*.code-workspace

# Docs
**/documents/**/*.md
**/documents/**/*.txt

# Cert
**/cert/**/*.key
**/cert/**/*.pem

# LOG
**/var-log-web

# Archives
**/*.tar.gz
**/asset_frozen
