{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": ["project.config.js", "scripts/**/*.js", "scripts/**/*.mjs"],
      "env": {
        "node": true
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": [
        "project.config.js",
        "examples/**/*.ts",
        "examples/**/*.tsx",
        "scripts/build-pages.js",
        "scripts/preview-pages.js",
        "scripts/project-config-utils.js",
        "scripts/validate-pwa.js",
        "scripts/validate-seo.js",
        "scripts/webpack.config.dev.js",
        "site/**/*.js",
        "site/**/*.ts",
        "test/playground/**/*.ts",
        "test/playground/**/*.tsx",
        "test/pwa.test.js",
        "test/service-worker.test.js",
        "test/site.test.js",
        "test/theme.test.js"
      ],
      "rules": {
        "array-bracket-spacing": ["warn", "never"],
        "indent": "off",
        "object-curly-newline": "off",
        "quotes": [
          "warn",
          "double",
          { "allowTemplateLiterals": true, "avoidEscape": true }
        ]
      }
    }
  ],
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["warn", "double"],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "comma-dangle": ["warn", "always-multiline"],
    "eol-last": ["warn", "always"],
    "max-len": [
      "warn",
      {
        "code": 200,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],
    "spaced-comment": ["warn", "always"],
    "object-curly-spacing": ["warn", "always"],
    "array-bracket-spacing": ["warn", "always"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "object-curly-newline": [
      "warn",
      {
        "ImportDeclaration": { "multiline": true, "minProperties": 4 }
      }
    ]
  }
}
